header {
    background-color: #FFFFFF;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
}
.logo {
    text-indent: -999999px;
    margin-left: 20px;
    background-image: url("../images/logo.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    height: 100%;
}
